{% extends template %}
{% load static i18n %}
{% load humanize %} 

{% block project_title %}{% endblock %}
{% block content %}
<script type="text/javascript" src="{% static 'css/highcharts.css' %}"></script>
<style>
   .highcharts-figure, .highcharts-data-table table {
   min-width: 500px;
   max-width: 1200px;
   min-height: 400px;
   border: 1px solid #eee;
   }
   .highcharts-data-table table {
   font-family: Verdana, sans-serif;
   border-collapse: collapse;
   border: 1px solid #EBEBEB;
   margin: 10px auto;
   text-align: center;
   width: 100%;
   max-width: 500px;
   }
   .highcharts-data-table caption {
   padding: 1em 0;
   font-size: 1.2em;
   color: #555;
   }
   .highcharts-data-table th {
   font-weight: 600;
   padding: 0.5em;
   }
   .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
   padding: 0.5em;
   }
   .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
   background: #f8f8f8;
   }
   .highcharts-data-table tr:hover {
   background: #f1f7ff;
   }
   .widget-chart .widget-numbers {
   font-weight: bold;
   font-size: 2rem;
   display: block;
   line-height: 1;
   margin: 1rem auto;
   }
   .widget-chart .widget-subheading + .widget-numbers {
   margin-top: 0.5rem;
   }
   .widget-chart.text-left .widget-numbers {
   margin-left: 0;
   }
   .widget-chart .widget-subheading:first-child {
   margin-top: 0;
   }
   .widget-chart .widget-subheading {
    margin: -0.5rem 0 0;
    display: block;
    opacity: 1;
    color: #616060;
    font-size: 0.85rem;
    font-weight: 600;

   }
   .widget-chart.text-left .widget-chart-content .widget-description {
   -ms-flex-item-align: start;
   align-self: flex-start;
   }
   .widget-chart .widget-numbers + .widget-chart-flex, .widget-chart .widget-numbers + .widget-description, .widget-chart .widget-numbers + .widget-subheading {
   margin-top: -0.5rem;
   }
   .widget-chart .widget-description {
   margin: 1rem 0 0;
   }
   .text-focus {
   color: #444054 !important;
   }
   .widget-chart.text-left .widget-chart-content {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -ms-flex-line-pack: center;
   align-content: center;
   -webkit-box-flex: 1;
   -ms-flex: 1;
   flex: 1;
   position: relative;
   flex-flow: column;
   }
   .blue-icon svg path{
       fill:#446AB3
   }
   .widget-chart .widget-chart-content {
   position: relative;
   z-index: 5;
   }
   icon-wrapper {
   width: 54px;
   height: 54px;
   margin: 0 auto;
   position: relative;
   overflow: hidden;
   }
   .icon-wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-line-pack: center;
   align-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   }
   .rounded-circle {
   border-radius: 50% !important;
   }
   .icon-wrapper .icon-wrapper-bg {
   position: absolute;
   height: 60px;
   width: 60px;
   z-index: 3;
   opacity: .2;
   }
   .opacity-9 {
   opacity: .9 !important;
   }
   .bg-success {
   background-color: #3ac47d !important;
   }
   .icon-wrapper i {
   margin: 0 auto;
   font-size: 1.7rem;
   position: relative;
   z-index: 5;
   }
   [class^="lnr-"], [class*=" lnr-"] {
   font-family: 'Linearicons-Free';
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   }
   .widget-chart.text-left {
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   }

   .card {
   box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
   border-width: 0;
   -webkit-transition: all .2s;
   transition: all .2s;
   }
   .bg-transparent {
   background: transparent !important;
   }
   .no-shadow {
   box-shadow: 0 0 0 transparent !important;
   }
   .rm-border {
   border-width: 0 !important;
   }
   .modal-backdrop {
   z-index: -1;
   }
   #myModal {
   top: 100px;
   }
   #myModal .modal-dialog {
   max-width: 800px;
   }

    .list-group-item{
        padding:0px;
    }

</style>
<div class="app-main__inner watermark container-sm">
   <div class="app-page-title">
      <div class="page-title-wrapper">
         <div class="page-title-heading">
            {% comment %}
            <div class="page-title-icon">
               <i class="pe-7s-keypad icon-gradient bg-mean-fruit">
               </i>
            </div>
            {% endcomment %}
            <div>
               LCRP Population Package
            </div>
            <button type="button" class="btn mb-0" data-toggle="modal" style="position: unset !important;" data-id="" data-target="#myModal"
               title="Preview Report"><i class="fa fa-eye" style="font-size: 15px;color:#949494"></i>
            </button>
         </div>
         <div class="page-title-actions">

         </div>
      </div>
   </div>
   <!--<div class="mb-3 card">-->
   <!--<div class="no-gutters row">-->
   <!--<div class="col-sm-6 col-md-4 col-xl-4">-->
   <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
      <li class="nav-item col-lg-6 col-xl-4 my-2">
         <a role="tab" class=" active" id="tab-0" data-toggle="tab" href="#tab-content-0">
            <div class="card rm-border bg-transparent widget-chart text-left">
               <div class="icon-wrapper pos-relative bg-info">
                  <div class="icon-wrapper-bg blue-icon opacity-9">
                      <i >{% include   'images/multiple-users-silhouette.svg' %}</i>

                  </div>
               </div>
               <div class="widget-chart-content">
                  <div class="widget-subheading">Total Population</div>
                  <div class="widget-numbers text-info"><span>{{ data.total_population|intcomma  }} </span></div>
                  <!--<div class="widget-description text-focus"> Stable-->
                  <!--<span class="text-info pl-1">-->
                  <!--<fa name="angle-up" _nghost-djc-c2="" ng-reflect-name="angle-up"><i _ngcontent-djc-c2="" aria-hidden="true" class="fa fa-angle-up" ng-reflect-klass="fa fa-angle-up" ng-reflect-ng-class=""></i></fa>-->
                  <!--<span class="pl-1">0.0%</span>-->
                  <!--</span>-->
                  <!--</div>-->
               </div>
            </div>
         </a>
      </li>
      <li class="nav-item col-lg-6 col-xl-4 my-2">
         <a role="tab"  id="tab-1" data-toggle="tab" href="#tab-content-1">
            <div class="card  rm-border bg-transparent widget-chart text-left">
               <div class="icon-wrapper pos-relative bg-warning">
                  <div class="icon-wrapper-bg opacity-9">
                     <img src="{% static 'images/kids-couple.svg' %}" />
                  </div>
               </div>
               <div class="widget-chart-content">
                  <div class="widget-subheading">Total number of children</div>
                  <div class="widget-numbers text-warning"><span> {{data.total_children|intcomma}} </span></div>
                  <!--<div class="widget-description text-focus">% out of each nationality are: <span class="text-warning">172,200</span></div>-->
               </div>
            </div>
         </a>
      </li>
      <li class="nav-item col-lg-6 col-xl-4 my-2">
         <a role="tab"  id="tab-2" data-toggle="tab" href="#tab-content-2">
            <div class="card  rm-border bg-transparent widget-chart text-left">
               <div class="icon-wrapper pos-relative bg-danger">
                  <div class="icon-wrapper-bg opacity-9">
                     <img src="{% static 'images/big-store.svg' %}" />
                  </div>
               </div>
               <div class="widget-chart-content">
                  <div class="widget-subheading">Most Vulnerable Population</div>
                  <!--<div class="widget-numbers text-danger"><span>2,479,043</span></div>-->
               </div>
            </div>
         </a>
      </li>
   </ul>
   <!--</div>-->
   <!--</div>-->
   <!--</div>-->
   <div class="tab-content">
      <div class="tab-pane tabs-animation {% if 'total_population' in request.GET  %}
      active show {% else %} fade
  {% endif %}" id="tab-content-0" role="tabpanel">

         <div class="main-card  mx-3 card">
            <div class="no-gutters row">
               <div class="col-md-3">
                  <div class="pt-0 pb-0 card-body">
                     <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading">LEBANESE</div>
                                       <div class="widget-subheading">Citizens</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-success" style="color: #70C64A !important;"> {{data.leb_all|intcomma}} </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading"></div>
                                       <div class="widget-subheading"></div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-primary" style="color: #70C64A !important;">{{data.leb_all_perc|floatformat|intcomma }}%</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="pt-0 pb-0 card-body">
                     <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading">SYRIANS</div>
                                       <div class="widget-subheading">Displaced</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-success" style="color: #EDDA2A !important;">{{data.syr_all|intcomma}}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading"></div>
                                       <div class="widget-subheading"></div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-primary" style="color: #EDDA2A !important;">{{data.syr_all_perc|floatformat|intcomma}}%</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="pt-0 pb-0 card-body">
                     <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading">PALESTINIAN (PRL)</div>
                                       <div class="widget-subheading">Refugees from Lebanon</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-danger" style="color: #ED705A !important;">{{data.prl_all}}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading"></div>
                                       <div class="widget-subheading"></div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-warning" style="color: #ED705A !important;">{{data.prl_all_perc|floatformat|intcomma}}%</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="pt-0 pb-0 card-body">
                     <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading">PALESTINIAN (PRS)</div>
                                       <div class="widget-subheading">Refugees from Syria</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-success" style="color: #E84D58 !important;">{{ data.prs_all|intcomma }}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading"></div>
                                       <div class="widget-subheading"></div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-primary" style="color: #E84D58 !important;">{{ data.prs_all_perc|floatformat|intcomma }}%</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-12">
                  <ul class="list-group list-group-flush">
                     <li class="list-group-item">
                        <div class="widget-content p-0">
                           <div class="widget-content-outer">
                              <div class="widget-content-wrapper">
                                 <div class="widget-subheading float-right">
                                    <button type="button" class="btn btn-sm " data-toggle="modal" data-target="#exampleModal">
                                       Lebanon Crisis Response Plan 2017-2022, The Government of Lebanon and United Nations, January 2022 [Population package] ...
                                     </button>
                                    
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="no-gutters row" style="padding-bottom: 50px;">
            <div class="col-md-12 item-block" style="margin: 0 auto;">
               <div class="card  rm-border">
                  <div id="populations_per_nationality"></div>
               </div>
            </div>
            <div class="col-md-0 item-block" style="margin: 0 auto;">
               <div class="card  rm-border">
                  <!-- <div id="populations_per_age_group"></div> -->
               </div>
            </div>
         </div>
         <div class="no-gutters row" style="padding-bottom: 50px;">
            <div class="col-md-12 item-block" style="margin: 0 auto;">
               <div class="card  rm-border">
                  <div id="container1"></div>
               </div>
            </div>
         </div>
         <div class="no-gutters row" style="padding-bottom: 50px;">
            <div class="col-md-12 item-block" style="margin: 0 auto;">
               <div class="card  rm-border">
                  <div id="container2"></div>
               </div>
            </div>
         </div>
         <div class="no-gutters row" style="padding-bottom: 50px;">
            <div class="col-md-12 item-block" style="margin: 0 auto;">
               <div class="card  rm-border">
                  <div id="container3"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="tab-pane tabs-animation {% if 'children' in request.GET  %}
      active show {% else %} fade
  {% endif %} " id="tab-content-1" role="tabpanel">
         <div class="main-card  mx-3 card">
            <div class="no-gutters row">
               <div class="col-md-4">
                  <div class="pt-0 pb-0 card-body">
                     <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading">LEBANESE</div>
                                       <div class="widget-subheading">Citizens </div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-success" style="color: #70C64A !important;">{{ data.leb_children|intcomma }}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading"></div>
                                       <div class="widget-subheading">% of total children</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-primary" style="color: #70C64A !important;">{{ data.leb_children_perc|floatformat}}%</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="pt-0 pb-0 card-body">
                     <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading">SYRIANS</div>
                                       <div class="widget-subheading">Displacedcc</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-success" style="color: #EDDA2A !important;">{{ data.syr_children|intcomma }}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading"></div>
                                       <div class="widget-subheading">% of total children</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-primary" style="color: #EDDA2A !important;">{{ data.syr_children_perc|floatformat }}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="pt-0 pb-0 card-body">
                     <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading">PALESTINIAN</div>
                                       <div class="widget-subheading">Refugees from Lebanon and Syria</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-danger" style="color: #ED705A !important;">{{ data.pal_children|intcomma }}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading"></div>
                                       <div class="widget-subheading">% of total children</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-warning" style="color: #ED705A !important;">{{ data.pal_children_perc|floatformat }}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-12">
                  <ul class="list-group list-group-flush">
                     <li class="list-group-item">
                        <div class="widget-content p-0">
                           <div class="widget-content-outer">
                              <div class="widget-content-wrapper">
                                 <div class="widget-subheading"><button type="button" class="btn btn-sm " data-toggle="modal" data-target="#exampleModal">
                                    Lebanon Crisis Response Plan 2017-2022, The Government of Lebanon and United Nations, January 2022 [Population package]...
                                  </button></div>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="mb-3">
            <div class="no-gutters row">
              <div class="col-md-12">
                <div class="card  rm-border">
                 <div id="container5"></div>
                </div>
              </div>
            </div>
         </div>
      </div>
      <div class="tab-pane tabs-animation {% if 'vulnerable' in request.GET  %}
      active show {% else %} fade
  {% endif %}" id="tab-content-2" role="tabpanel">
          <div class="main-card  mx-3 card">
            <div class="no-gutters row">
               <div class="col-md-3">
                  <div class="pt-0 pb-0 card-body">
                     <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading">Lebanese</div>
                                       <div class="widget-subheading"></div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-primary"></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading"></div>
                                       <div class="widget-subheading">All Population</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-primary">{{data.mv_leb_all|intcomma}}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading"></div>
                                       <div class="widget-subheading">Children</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-primary">{{data.mv_leb_children|intcomma}}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading"></div>
                                       <div class="widget-subheading">Number of poor</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-primary">{{data.mv_leb_poor|intcomma}}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading"></div>
                                       <div class="widget-subheading">Extremely poor</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-primary">{{data.mv_leb_extpoor|intcomma}}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="pt-0 pb-0 card-body">
                     <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading">Palestinians</div>
                                       <div class="widget-subheading"></div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-danger"></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading"></div>
                                       <div class="widget-subheading">All Population</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-danger">{{data.mv_pal_all|intcomma}}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading"></div>
                                       <div class="widget-subheading">Children</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-danger">{{data.mv_pal_children|intcomma}}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading"></div>
                                       <div class="widget-subheading">Number of poor</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-danger">{{data.mv_pal_poor|intcomma}}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="pt-0 pb-0 card-body">
                     <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading">Syrians</div>
                                       <div class="widget-subheading"></div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-warning"></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading"></div>
                                       <div class="widget-subheading">All Population</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-warning">{{data.mv_syr_all|intcomma}}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading"></div>
                                       <div class="widget-subheading">Children</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-warning">{{data.mv_syr_children|intcomma}}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading"></div>
                                       <div class="widget-subheading">Number of poor</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-warning">{{data.mv_syr_poor|intcomma}}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="pt-0 pb-0 card-body">
                     <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading">Total</div>
                                       <div class="widget-subheading"></div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-warning"></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading"></div>
                                       <div class="widget-subheading">Total Population</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-warning">{{data.mv_all|intcomma}}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading"></div>
                                       <div class="widget-subheading">Total Children</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-warning">{{data.mv_children|intcomma}}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="list-group-item">
                           <div class="widget-content p-0">
                              <div class="widget-content-outer">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading"></div>
                                       <div class="widget-subheading">Total poor</div>
                                    </div>
                                    <div class="widget-content-right">
                                       <div class="widget-numbers text-warning">{{data.mv_poor|intcomma}}</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-12">
                  <ul class="list-group list-group-flush">
                     <li class="list-group-item">
                        <div class="widget-content p-0">
                           <div class="widget-content-outer">
                              <div class="widget-content-wrapper">
                                 <div class="widget-subheading">Source: Lebanon Crisis Response Plan 2017-2020, The Government of Lebanon and United Nations, January 2020 [Population package]</div>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="mb-3">
            <div class="no-gutters row">
             <div class="col-md-12">
                <div class="card  rm-border">
                 <div id="vulnerable_populations"></div>
                </div>
              </div>
            </div>
         </div>
         <div class="mb-3">
            <div class="no-gutters row">
             <div class="col-md-12">
                <div class="card  rm-border">
                 <div id="vulnerable_populations_perc"></div>
                </div>
              </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Data Sources</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <h4>Lebanese</h4>
            {% for src in data.source_leb %}
               <p class="mb-0">{{src}}</p>
            {% endfor %}
         <h4 class="mt-1">Syrians</h4>
            {% for src in data.source_syr %}
               <p class="mb-0">{{src}}</p>
            {% endfor %}
         <h4 class="mt-1">Palestinians</h4>
            {% for src in data.source_pal %}
               <p class="mb-0">{{src}}</p>
            {% endfor %}
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Report Preview</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body"><object data="{% static 'files/Population Figures in Lebanon-2020.pdf' %}"
            type="application/pdf"  width="100%" style="height:500px;">    </object></div>
         <div class="modal-footer">
            Source: Lebanon Crisis Response Plan 2017-2020, The Government of Lebanon and United Nations, January 2020 [Population package]
         </div>
      </div>
   </div>
</div>
{% endblock content %}
{% block extra_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script type="text/javascript" src="{% static 'js/Highcharts.chart.js' %}"></script>
<script type = "text/javascript" >
  
Highcharts.theme = {
    colors: ['#34C73B', '#00A2FF', '#F192F1', '#9010BC', '#CF2C2C', '#FF9800'],
    title: {
        style: {
            color: '#4D4D4D',
            fontFamily: '"Poppins"',
            fontSize: '18px',
            fontWeight: '300',
        }
    },
    subtitle: {
        style: {
            color: '#6A707E',
            fontFamily: '"Poppins"',
            fontSize: '13px',
            fontWeight: '100',
        }
    },
    yAxis: {
        labels: {
            style: {
                color: '#525252',
                fontFamily: '"Poppins"',
                fontSize: '12px',
                fontWeight: '100',
            }
        }
    },
    xAxis: {
        labels: {
            style: {
                color: '#525252',
                fontFamily: '"Poppins"',
                fontSize: '12px',
                fontWeight: '100',
            }
        },
    },
    legend: {
        itemStyle: {
            fontFamily: '"Poppins"',
            fontSize: '13px',
            fontWeight: '100',
            color: '#ABAFB3'
        },
        itemHoverStyle: {
            color: 'gray'
        },
        itemMarginTop: 10,
    },
    tooltip: {
        style: {
            color: '#ABAFB3',
            fontFamily: '"Poppins"',
            fontSize: '12px',
            fontWeight: '400',
        }
    },
    drilldown: {
        activeAxisLabelStyle: {
            color: '#525252',
            textDecoration: 'none',
            fontWeight: '100',
        },
        activeDataLabelStyle: {
            color: '#ABAFB3',
            display: 'none'
        }
    },
    credits: {
        enabled: false
    },
};

Highcharts.chart('populations_per_nationality', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: 0,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        //text: 'Total Population<br>5,742,742',
        text: '',
        align: 'center',
        verticalAlign: 'middle',
        y: 50
    },
    subtitle: {
        text: '',
        align: 'left',
        verticalAlign: 'bottom',
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            },
            showInLegend: true
        },
        
    },
    legend: {
        align: 'right',
        verticalAlign: 'middle',
        layout: 'vertical',
    },
    series: [{
        name: 'Nationality',
        colorByPoint: true,
        innerSize: '50%',
        data: [{
            name: 'Lebanese',
            y: {{data.leb_all|safe}},
            // color: '#FF9800'
        }, {
            name: 'Syrians',
            y: {{data.syr_all|safe}},
            // color: '#00A2FF'
        }, {
            name: 'PRL',
            y: {{data.prl_all|safe}},
            // color: '#34073B'
        },{
            name: 'PRS',
            y: {{data.prs_all|safe}},
            // color: '#3FC7FF'
        }]
    }]
});

Highcharts.chart('vulnerable_populations', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Total Vulnerable distribution'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: {{ ch3_categories|safe }},
        crosshair: true,
        
    },
    yAxis: {
        min: 0,
        title: {
            text: 'District vulnerable population by population type'
        },
       
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:,.0f} Person </b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        },
    },
    
 series: [
    {'name': 'LEB', 'data': {{ ch3_leb_series_data }}}, 
    {'name': 'SYR', 'data': {{ ch3_syr_series_data }}},
       {'name': 'PAL', 'data': {{ ch3_pal_series_data }}},
   ]

});
              
// 
Highcharts.chart('vulnerable_populations_perc', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Percentage of vulnerable from total vulnerabe'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: {{ ch4_categories|safe }},
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'District vulnerable percentage'
        },
        
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} % </b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
 series: [
    {'name': 'LEB', 'data': {{ ch4_leb_series_data }}}, 
    {'name': 'SYR', 'data': {{ ch4_syr_series_data }}},
       {'name': 'PAL', 'data': {{ ch4_pal_series_data }}},
   ]

});
              
Highcharts.chart('container1', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Total population distribution'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: {{ ch1_categories|safe }},
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Governorate population by population type'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:,.0f} </b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
 series: [
    {'name': 'LEB', 'data': {{ ch1_leb_series_data }}}, 
    {'name': 'SYR', 'data': {{ ch1_syr_series_data }}},
    {'name': 'PRL', 'data': {{ ch1_prl_series_data }}},
       {'name': 'PRS', 'data': {{ ch1_prs_series_data }}},
   ]

});
              
Highcharts.chart('container2', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Total population distribution percentage'
    },
    xAxis: {
        categories: {{ ch1_categories|safe }}
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Governorate population type percentage'
        }
    },
    tooltip: {
        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
        shared: true
    },
    plotOptions: {
        column: {
            stacking: 'percent'
        }
    },
    series: [
       {'name': 'LEB', 'data': {{ ch1_leb_series_data }}}, 
       {'name': 'SYR', 'data': {{ ch1_syr_series_data }}},
       {'name': 'PRL', 'data': {{ ch1_prl_series_data }}},
       {'name': 'PRS', 'data': {{ ch1_prs_series_data }}},
   ]
});

Highcharts.chart('container3', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Total population age distribution'
    },
    xAxis: {
        categories: {{ch2_categories|safe}}
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Total age group'
        },
        stackLabels: {
            enabled: true,
            style: {
                fontWeight: 'bold',
                color: ( // theme
                    Highcharts.defaultOptions.title.style &&
                    Highcharts.defaultOptions.title.style.color
                ) || 'gray'
            }
        }
    },
    legend: {
        align: 'right',
        x: -30,
        verticalAlign: 'top',
        y: 25,
        floating: true,
        backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || 'white',
        borderColor: '#CCC',
        borderWidth: 1,
        shadow: false
    },
    tooltip: {
        headerFormat: '<b>{point.x:,.0f}</b><br/>',
        pointFormat: '{series.name}: {point.y:,.0f}<br/>Total: {point.stackTotal:,.0f}'
    },
    plotOptions: {
        column: {
            stacking: 'normal',
            dataLabels: {
                enabled: true
            }
        }
    },
    series: [       
       {'name': 'LEB', 'data': {{ ch2_leb_series_data }}}, 
       {'name': 'SYR', 'data': {{ ch2_syr_series_data }}},
       {'name': 'PAL', 'data': {{ ch2_pal_series_data }}},
]
});

              
Highcharts.chart('container5', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Total Children distribution'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: {{ ch5_categories|safe }},
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Governorate children by population type'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:,.0f} </b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
 series: [
    {'name': 'LEB', 'data': {{ ch5_leb_series_data }}}, 
    {'name': 'SYR', 'data': {{ ch5_syr_series_data }}},
    {'name': 'PAL', 'data': {{ ch5_pal_series_data }}},
   ]

});

Highcharts.setOptions({
    lang: {
        thousandsSep: ','
    }
});</script>

{% endblock %}
