{% extends "baseV2.html" %}
{% load static humanize i18n %}
{% block project_title %}{{ db.name }}{% endblock %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'adminlte/plugins/toastr/toastr.min.css' %}" />
<link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}" />
<title> {{ database.name }} ({% now "M d, Y" %})</title>
{% endblock %}
{% block content %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex col-12">
                <div class="p-1 align-middle">
                    <a href="javascript:history.back()" class="btn btn-light">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                </div>
                <div>
                    <h1> {{database.name}} | {{database.reporting_year}}</h1>
                    <p>
                        <i>
                            Last Update: {{database.last_monthly_update_date}}
                        </i>
                    </p>
                </div>
                <div class="ml-auto">
                    <div class="btn-group">
                        <a href="{% url 'pivoting:database-analytical' %}?id={{ database.id }}"><button
                                class="btn btn-sm btn-light shadow mr-1" title="Analytical View"><i class="fa fa-cogs"></i>
                                Analytical View</button></a>
                        <a href="{% url 'pivoting:database_intervention_map' %}?id={{ database.id }}"><button
                                class="btn btn-sm btn-light shadow mr-1" title="Intervention Map"> <i class="fa fa-map"></i>
                                Intervention Map</button></a>
                        <a href="{% url 'pivoting:database-snapshot' %}?id={{ database.id }}"><button
                                class="btn btn-sm btn-light shadow mr-1" title="Snapshot"> <i class="fa fa-print"></i>
                                Snapshot</button></a>
                        <a href="{% url 'pivoting:database-download' %}?id={{ database.id }}"><button
                                class="btn btn-sm btn-light shadow mr-1" title="Download Raw Data"><i class="fa fa-download"></i>
                                Raw Data</button></a>
                        <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                            class="btn btn-sm btn-light shadow mr-1 dropdown-toggle">Reporting Year </button>
                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                            {% for db in section_databases %}
                            <a class="dropdown-header p-1 "
                                href="{% url 'pivoting:database-dashboard' %}?id={{ db.id }}">
                                <button type="button" tabindex="0" class="dropdown-item">
                                    {{ db.reporting_year }}
                                </button>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content" style="min-height: 110vh;">
    <div class="card card-outline">
        <div class="card-body">
            <p>Out of {{ items|length }} Indicators, {{reported}} {% if reported == 1 %} indicator was {% else %} indicators were {% endif %}reported on ActivityInfo – Reporting Progress status: <span class="badge {{percentage_color}} p-1" style="border: 0cm;">{{ percentage }}%</span></p>
            <div class="row">
                <span class="badge">Status: </span>
            <span class="badge badge-success border-0 ml-1 p-1">On Track</span>
            <span class="badge badge-warning border-0 ml-1 p-1">Over Target</span>
            <span class="badge badge-danger border-0 ml-1 p-1">Off Track</span>
            </div>
            <table class="mb-0 table table-hover " id="example">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th></th>
                        <th> Indicator Name</th>
                        <th>AWP Code</th>
                        <th>AWP Target</th>
                        <th>Value</th>
                        <th>% Achieved</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr class="align-middle">
                        <td>{{item.id}}</td>
                        <td  class="align-middle text-center">
                            {% if item.tracking == 'over target'  %}
                            <p class='badge badge-warning'>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            {% endif %}
                            {% if item.tracking == 'on track'  %}
                            <p class='badge badge-success'>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            {% endif %}
                            {% if item.tracking == 'off track'  %}
                            <p class='badge badge-danger'>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            {% endif %}

                        </td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.awp_code }}</td>
                        <td>{{ item.awp_target|intcomma }}</td>
                        <!-- <td>{{ item.value|intcomma }}</td> -->
                        <td>{{ item.value|floatformat:"0"|intcomma|default:"-" }}</td>
                        {% if item.achieved > 0 %}
                        <td>{{ item.achieved|floatformat:"0"|intcomma}} %</td>
                        {% else %}
                        <td> - </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<div class="modal fade" id="modal-lg"></div>
<button id="subind" type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-lg" style="display: none;"></button>
{% endblock content %}
{% block extra_js %}
<script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'adminlte/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/toastr/toastr.min.js' %}"></script>
<script src="{% static 'adminlte/dist/js/adminlte.js' %}"></script>
<script>
    $(document).ready(function () {
        var table = $('#example').DataTable({
            "dom": '<l<t>ipB>',
            searching: false,
            paging: false,
            Info: true,
            buttons: ["copy", "csv", "excel", "pdf", "print",],
            responsive: true,
            lengthChange: false,
            autoWidth: false,
            order: [[3, 'asc']],
            columnDefs: [
                { orderable: true, className: 'reorder', targets: [3, 4, 5, 6] },
                { orderable: false, targets: '_all' }
            ]
        });
        // Add event listener for opening and closing details
        $('#example tbody').on('click', 'tr', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            $.ajax({
                url: '{% url "pivoting:load_sub_indicators" %}',
                dataType: "json",
                data: {
                    'id': row.data()[0]
                },
                success: function (data) {
                    var html = format(JSON.parse(data.items))
                    document.getElementById('modal-lg').innerHTML = html;
                    $('#subind').click()
                }
            });
        });
    })
</script>
<script>
    function format(d) {
        // `d` is the original data object for the row
        let html = `
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-body">
        <button type="button" class="close float-right btn-small" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times; </span>
        </button>
            <table class="mb-0 table table-sm table-striped">
                <thead>
                   <tr>
                      <th>AWP Code</th>
                      <th>Sub-indicator Name</th>
                      <th>Target</th>
                      <th>Value</th>
                   </tr>
                </thead>
                <tbody>
    `
        for (var i = 0; i < d.length; i++) {
            r = d[i]
            var row = '<tr>' + '<td>' + r.awp_code + '</td>' + '<td>' + r.label + '</td>' + '<td align="right">' + r.target?.toLocaleString() + '</td>' + '<td align="right">' + r.total_sub?.toLocaleString() + '</td>' + '<td align="right">' + '</td>' + '</tr>'
            html += row
        }
        html += '</tbody></table></div></div></div>'
        return html
    }
</script>
{% endblock extra_js %}