{% load static i18n %} {% load util_tagsv2 %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Google Tag Manager -->
      <script>
         (function(w, d, s, l, i) {
         	w[l] = w[l] || [];
         	w[l].push({
         		'gtm.start': new Date().getTime(),
         		event: 'gtm.js'
         	});
         	var f = d.getElementsByTagName(s)[0],
         		j = d.createElement(s),
         		dl = l != 'dataLayer' ? '&l=' + l : '';
         	j.async = true;
         	j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
         	f.parentNode.insertBefore(j, f);
         })(window, document, 'script', 'dataLayer', 'GTM-T8ZLMTW');
      </script>
      <!-- End Google Tag Manager -->
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- Meta, title, CSS, favicons, etc. -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <META HTTP-EQUIV="PRAGMA" CONTENT="PUBLIC">

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/apple-icon-57x57.png' %}">
      <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/apple-icon-60x60.png' %}">
      <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-icon-72x72.png' %}">
      <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-icon-76x76.png' %}">
      <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-icon-114x114.png' %}">
      <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-icon-120x120.png' %}">
      <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/apple-icon-144x144.png' %}">
      <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-icon-152x152.png' %}">
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-icon-180x180.png' %}">
      <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/android-icon-192x192.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="{% static 'images/ms-icon-144x144.png' %}">
      <meta name="theme-color" content="#ffffff">
      <title>Neuro-DB |</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
      <meta name="description" content="This is an example dashboard created using build-in elements and components.">
      <meta name="msapplication-tap-highlight" content="no">

      
      {% comment %} <link href="{% static 'css/select2.min.css' %}" rel="stylesheet"> {% endcomment %}
      {% comment %} <link href="{% static 'vendor/adminlte/css/adminlte.min.css' %}" rel="stylesheet"> {% endcomment %}
      <link href="{% static 'vendors/intro.js/css/introjs.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
      
      <link href="{% static 'css/main.css' %}" rel="stylesheet">
      <link href="{% static 'css/editedStyle.css' %}" rel="stylesheet">


      <style>
         #toTop {
         position: fixed;
         bottom: 10px;
         right: 10px;
         cursor: pointer;
         display: none;
         }
         .vertical-right-aligned {
         transform: rotate(-90deg);
         transform-origin: 100% 100%;
         position: fixed;
         right: 0;
         top: 50%;
         z-index: 100;
         }
         
      </style>
      {% block extra_style %} {% endblock extra_style %} 
   </head>
   <body>
      <!-- Google Tag Manager (noscript) -->
      <noscript>
         <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T8ZLMTW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
      <!-- End Google Tag Manager (noscript) -->
      <button type="button" id="feedback-btn" class="btn btn-outline-primary vertical-right-aligned"> Feedback <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> </button>
      
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
  <div class="app-header header-shadow"  id="fixed-top-header">
     <div class="blue-banner">
        <div class="px-2 d-flex justify-content-between ">
           <i class="py-2"><img src="{% static 'images/unicef-logo-horizontal.svg' %}" /> </i>
           <div class=" d-flex align-items-center mr-4">
              {% if request.user.is_authenticated %}
              <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn d-flex align-items-center"> <img width="30" class="rounded-circle mr-2" src="{% static 'images/new_user.png' %}" alt="" /> {{ request.user.email }} <i class="metismenu-state-icon pe-7s-angle-down caret-left ml-2"></i> </button>
              <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right" style="width:50px;right:0px">
                 <a type="button" tabindex="0" class="dropdown-item" href="/activityinfo/report-crisis/?ai_id=202120">Private</a>
                 <div tabindex="-1" class="dropdown-divider"></div>
                 {% if request.user.is_staff %} <a type="button" tabindex="0" class="dropdown-item" href="/admin/">Admin</a> {% endif %}
                 <div tabindex="-1" class="dropdown-divider"></div>
                 <a href="{% url 'account_logout' %}" type="button" tabindex="0" class="dropdown-item"> <i class="fa fa-sign-out pull-right"></i>Log Out </a>
              </div>
              {% else %}
              <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="user-profile p-0 btn d-flex align-items-center"> <img width="30" class="rounded-circle mr-2" src="{% static 'images/new_user.png' %}" alt="" /> {{ request.user }} <i class="fa fa-angle-down ml-2 opacity-8"></i> </button>
              <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right dropdown-usermenu">
                 <div tabindex="-1" class="dropdown-divider"></div>
                 <a href="{% url 'account_login' %}" type="button" tabindex="0" class="dropdown-item"> <i class="fa fa-sign-in pull-right"></i>Login </a>
              </div>
              {% endif %}
           </div>
        </div>
     </div>
     <div class="header-flex">
        <div class="app-header__logo pl-3">

          <div class="logo-src">           <a href="/" class="logo-src" data-step="1" data-intro="Go to home page"> <img src="{% static 'images/logo2.png' %}" width="170" height="40" alt="Neuro-DB-logo" /> </a>
          </div>
				<div class="header__pane ml-auto">
					<div>
						<button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar"> <span class="hamburger-box">
<span class="hamburger-inner"></span> </span>
						</button>
					</div>
				</div>
        </div>
        <div class="app-header__mobile-menu">
           <div>
              <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav"> <span class="hamburger-box">
              <span class="hamburger-inner"></span> </span>
              </button>
           </div>
        </div>
        <div class="app-header__menu"> <span>
           <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
           <span class="btn-icon-wrapper">
           <i class="fa fa-search fa-w-6"></i>
           </span> </button>
           </span>
        </div>
        <div class="app-header__content">
           <input id="reporting_year" hidden value="{{ reporting_year }}">
           <div class="app-header-left">
           </div>
           <div class="app-header-right">
              <div class="d-inline-block ">
                 <ul class="header-menu nav d-lg-flex d-none">

                    <li class="px-2">
                     <button type="button" aria-haspopup="true" aria-expanded="false" id="drop5" title="Download report" data-toggle="dropdown" class="p-0 nav-item btn btn-link"> <i><img src="{% static 'images/siren-light.svg' %}" /></i> <span class="pt-1">Response</span> </button>
                     <div tabindex="-1" id="menu2" role="menu" aria-hidden="true" class="dropdown-menu" data-step="7">
                        <a href='/activityinfo/report-crisis/?ai_id=202220' target="_blank" type="button" tabindex="0" class="dropdown-item" style="text-transform: none;">COVID-19 Response</a>
                        {% get_cholera_db as cholera_db %}
                  <a href="{% url 'pivoting:database-dashboard' %}?id={{ cholera_db.id }}" class="dropdown-item">Cholera Response </a>

                        <a href="https://storymaps.arcgis.com/stories/e16dcc28993e4a8288068595bf37fd9a" target="_blank" type="button" tabindex="0" class="dropdown-item" style="text-transform: none;">Beirut Blast</a>
                       </div>
                     </li>


                    <li class="px-2">
                     <button onclick="location.href='/#activity'" class="p-0 nav-item btn btn-link" type="button"> <i><img src="{% static 'images/dashboard.svg' %}" /></i> <span class="pt-1">Activity Info</span></button>
                    </li>

                    <li class="px-2">
                     <button type="button" aria-haspopup="true" aria-expanded="false" id="drop5" title="Download report" data-toggle="dropdown" class="p-0 nav-item btn btn-link"> <i><img src="{% static 'images/presentation.svg' %}" /></i> <span class="pt-1">HPM</span> </button>
                     <div tabindex="-1" id="menu2" role="menu" aria-hidden="true" class="dropdown-menu" data-step="7">
                        {% get_hpm_neuroreports as neuroreports %}{% for report in neuroreports %}
                           <a href="{% url 'pivoting:hpm-neuroreport' %}?id={{ report.id }}" class="dropdown-item">
                               {{ report.name }} 
                           </a>
                        {% endfor %} 

                       </div>
                     </li>

                    <li class="px-2">
                     <button type="button" aria-haspopup="true" aria-expanded="false" id="drop5" title="Download report" data-toggle="dropdown" class="p-0 nav-item btn btn-link"> <i><img src="{% static 'images/human-resources.svg' %}" /></i> <span class="pt-1">Knowledge Base</span> </button>
                     <div tabindex="-1" id="menu2" role="menu" aria-hidden="true" class="dropdown-menu" data-step="7">
                        <a href="{% url 'pivoting:pca-dashboard' %}" target="_parent" type="button" tabindex="0" class="dropdown-item" style="text-transform: none;">Funded Programs</a>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <a href="{% url 'pivoting:donor-dashboard' %}" target="_parent" type="button" tabindex="0" class="dropdown-item" style="text-transform: none;">Donor Mapping</a>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <a href="{% url 'etools:partner_profile' %}" target="_parent" type="button" tabindex="0" class="dropdown-item" style="text-transform: none;">Partnership Profile</a>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <a href="{% url 'survey:population_figures' %}" target="_parent" type="button" tabindex="0" class="dropdown-item" style="text-transform: none;">Population Figures</a>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <a href="{% url 'survey:maps' %}" target="_parent" type="button" tabindex="0" class="dropdown-item" style="text-transform: none;">UNICEF Maps</a>
                        
                       </div>
                     </li>

                    <li class="px-2">
                       <button type="button" aria-haspopup="true" aria-expanded="false" id="drop5" title="Download report" data-toggle="dropdown" class="p-0 nav-item btn btn-link"> <i><img src="{% static 'images/human-resources.svg' %}" /></i> <span class="pt-1">Resources</span> </button>
                       <div tabindex="-1" id="menu2" role="menu" aria-hidden="true" class="dropdown-menu" data-step="7">
                          <a href="https://data.unicef.org/country/lbn/" target="_blank" type="button" tabindex="0" class="dropdown-item" style="text-transform: none;">Lebanon Country Profile</a>
                          <div tabindex="-1" class="dropdown-divider"></div>
                          <a type="button" tabindex="0" class="dropdown-item" style="text-transform: none;" href="https://data.unicef.org/resources/resource-type/datasets/" target="_blank"> Global UNICEF Data Sets</a>
                          <div tabindex="-1" class="dropdown-divider"></div>
                          <a type="button" tabindex="0" class="dropdown-item" style="text-transform: none;" href="http://mics.unicef.org/" target="_blank"> UNICEF MICS</a>
                          <div tabindex="-1" class="dropdown-divider"></div>
                          <a type="button" tabindex="0" class="dropdown-item" style="text-transform: none;" href="https://data.unicef.org/open-data/" target="_blank"> UNICEF Open Data</a>
                          <div tabindex="-1" class="dropdown-divider"></div>
                          <a type="button" tabindex="0" class="dropdown-item" style="text-transform: none;" href="https://data.unicef.org/" target="_blank"> Data.UNICEF</a>
                          <div tabindex="-1" class="dropdown-divider"></div>
                          <a type="button" tabindex="0" class="dropdown-item" style="text-transform: none;" href="http://ialebanon.unhcr.org/vasyr/#/" target="_blank"> VASYR</a>
                          <div tabindex="-1" class="dropdown-divider"></div>
                          <a type="button" tabindex="0" class="dropdown-item" style="text-transform: none;" href="https://www.unicef.org/appeals/lebanon/situation-reports" target="_blank"> UNICEF Situation Reports</a>
                          <div tabindex="-1" class="dropdown-divider"></div>
                          <a type="button" tabindex="0" class="dropdown-item" style="text-transform: none;" href="https://data.unicef.org/" target="_blank"> Data.UNICEF</a> 
                          <div tabindex="-1" class="dropdown-divider"></div>
                          <a type="button" tabindex="0" class="dropdown-item" style="text-transform: none;" href="https://www.dropbox.com/sh/htj0ijgn0031xq4/AAC5OuoeQnAy3Urrph1WJBawa?dl=0" target="_blank"> IM Dropbox</a> 
                          <div tabindex="-1" class="dropdown-divider"></div> 
                           <a type="button" tabindex="0" class="dropdown-item" style="text-transform: none;" href="https://insight.unicef.org/apps01/biforall/Pages/BI_for_All.aspx" target="_blank">PowerBI for all</a> 
                          <div tabindex="-1" class="dropdown-divider"></div> 
                           <a type="button" tabindex="0" class="dropdown-item" style="text-transform: none;" href="http://ialebanon.unhcr.org/#home" target="_blank">Information Hub</a> 
                          <div tabindex="-1" class="dropdown-divider"></div> 
                           <a type="button" tabindex="0" class="dropdown-item" style="text-transform: none;" href="https://docs.google.com/spreadsheets/d/1LtsbDl68elfFAFsP-8NJn3932ayF3LevWqH8ZlDkxO0/edit#gid=1074123344" target="_blank">IM Sector Contacts</a> 
                          <div tabindex="-1" class="dropdown-divider"></div> 
                           <a type="button" tabindex="0" class="dropdown-item" style="text-transform: none;" href="https://lebanonportal.unhabitat.org/" target="_blank">Neighborhood Profiles</a> 
                           <div tabindex="-1" class="dropdown-divider"></div>
                        <a href="https://unicef.sharepoint.com/teams/DAPM-ResultsReporting/SitePages/Results-Reporting-Home.aspx" target="_blank" type="button" tabindex="0" class="dropdown-item" style="text-transform: none;">Results Reporting</a>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <a href="https://drp.unicef.org/donors" target="_blank" type="button" tabindex="0" class="dropdown-item" style="text-transform: none;">Donor Reporting Portal</a>
                       </div>
               </li>

               <li class="px-2">
                  <button type="button" aria-haspopup="true" aria-expanded="false" id="drop5" title="Download report" data-toggle="dropdown" class="p-0 nav-item btn btn-link"> <i><img src="{% static 'images/human-resources.svg' %}" /></i> <span class="pt-1">Tools</span> </button>
                  <div tabindex="-1" id="menu2" role="menu" aria-hidden="true" class="dropdown-menu" data-step="7">
                     <a href="https://ram.unicef.org/en" target="_blank" type="button" tabindex="0" class="dropdown-item" style="text-transform: none;">RAM</a>
                     <div tabindex="-1" class="dropdown-divider"></div>
                     <a href="https://etools.unicef.org/landing/" target="_blank" type="button" tabindex="0" class="dropdown-item" style="text-transform: none;">eTools</a>
                     <div tabindex="-1" class="dropdown-divider"></div>
                     <a href="https://insight.unicef.org/apps01/Pages/inSight.aspx" target="_blank" type="button" tabindex="0" class="dropdown-item" style="text-transform: none;">Insight.UNICEF</a>
                     <div tabindex="-1" class="dropdown-divider"></div>
                     <a href="https://unicef.us5.list-manage.com/track/click?u=7088c711be3d9d4f8b0897886&id=5e679f1efb&e=da73996cba" target="_blank" type="button" tabindex="0" class="dropdown-item" style="text-transform: none;">How Manys</a>
                     <div tabindex="-1" class="dropdown-divider"></div>
                     <a href="https://app.powerbi.com/view?r=eyJrIjoiNmE0YjZiNzUtZjk2OS00ZTg4LThlMzMtNTRhNzE0NzA4YmZlIiwidCI6Ijc3NDEwMTk1LTE0ZTEtNGZiOC05MDRiLWFiMTg5MjAyMzY2NyIsImMiOjh9&pageName=ReportSectiona329b3eafd86059a947b" target="_blank" type="button" tabindex="0" class="dropdown-item" style="text-transform: none;">Power Bi</a>
                     <div tabindex="-1" class="dropdown-divider"></div>
                     
                     <a href="https://www.arcgis.com/sharing/rest/oauth2/authorize?client_id=arcgisonline&display=default&response_type=token&state=%7B%22useLandingPage%22%3Atrue%7D&expiration=20160&locale=en-us&redirect_uri=https%3A%2F%2Fwww.arcgis.com%2Fhome%2Faccountswitcher-callback.html&force_login=true&hideCancel=true&showSignupOption=true&signuptype=esri" target="_blank" type="button" tabindex="0" class="dropdown-item" style="text-transform: none;">ArcGIS (Online)</a>
                     <div tabindex="-1" class="dropdown-divider"></div>
                     <a href="https://kobo.humanitarianresponse.info/#/forms" target="_blank" type="button" tabindex="0" class="dropdown-item" style="text-transform: none;">KoBo Toolbox</a>
                     <div tabindex="-1" class="dropdown-divider"></div>
                     <a href="https://infogram.com/" target="_blank" type="button" tabindex="0" class="dropdown-item" style="text-transform: none;">Infogram</a>
                     <div tabindex="-1" class="dropdown-divider"></div>
                     
                     <a href="https://unicef.sharepoint.com/sites/DOC-DigitalLabs" target="_blank" type="button" tabindex="0" class="dropdown-item" style="text-transform: none;">Digital Labs</a>
                     <div tabindex="-1" class="dropdown-divider"></div>
                     <a href="https://unicef.sharepoint.com/sites/ICON/SitePages/Tools-by-Category.aspx" target="_blank" type="button" tabindex="0" class="dropdown-item" style="text-transform: none;">Other Tools</a>
                     <div tabindex="-1" class="dropdown-divider"></div>
                    </div>
                  </li>


                 </ul>
              </div>
              {% block filter %}
              {% endblock filter %} 
           </div>
        </div>
     </div>
  </div>
  <div class="app-main">
     <div class="app-sidebar sidebar-shadow">
        <div class="app-header__logo">
           <div class="logo-src"></div>
           <div class="header__pane ml-auto">
              <div>
          
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar"> <span class="hamburger-box">
                  <span class="hamburger-inner"></span> </span>
                                </button>
              </div>
           </div>
        </div>
        <div class="app-header__mobile-menu">
           <div>
              <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav"> <span class="hamburger-box">
              <span class="hamburger-inner"></span> </span>
              </button>
           </div>
        </div>
        <div class="app-header__menu"> <span>
           <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
           <span class="btn-icon-wrapper">
           <i class="fa fa-ellipsis-v fa-w-6"></i>
           </span> </button>
           </span>
        </div>
        <div class="scrollbar-sidebar">
           <div class="app-sidebar__inner" data-step="2" data-intro="Navigation menu for other sections">
              <ul class="vertical-nav-menu">
               
                 <li class="app-sidebar__heading">Crisis Response</li>
                 {% get_Crisis_db as databases %} {% for db in databases %}
                 <li id="{{ db.ai_id }}">
                    <a href="{% url 'activityinfo:report_crisis' %}?ai_id={{ db.ai_id }}" class="crisis_link ">
                       <i class="metismenu-icon pe-7s-settings"></i> {{ db.name }} 
                    </a>
                 </li>
                 {% endfor %}
                 <li id="eco_01">
                    <a href="/activityinfo/report-crisis/?ai_id=202220" class=""> <i class="metismenu-icon pe-7s-science"></i> COVID-19 Response </a>
                 </li>
                 {% get_cholera_db as cholera_db %}
                 <li id="eco_01">
                  <a href="{% url 'pivoting:database-dashboard' %}?id={{ cholera_db.id }}" class=""><i class="metismenu-icon pe-7s-science"></i> Cholera Response </a>
                 </li>
                 <li class="app-sidebar__heading">Reporting</li>
               <li>
                  <a href="/"class="app-sidebar__heading" style="color: rgb(55, 141, 228) ;"> <i class="metismenu-icon pe-7s-menu"></i> Neuro Reports  <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i> </a>
                  <ul id="databases_list">
                     {% get_neuroreports as neuroreports %}{% for report in neuroreports %}
                     <li id="{{report.id }}">
                        <a href="{% url 'pivoting:neuroreport-dashboard' %}?id={{ report.id }}" ><i class="metismenu-icon pe-7s-display2"></i>
                            {{ report.name }} 
                        </a>
                     </li>
                     {% endfor %} 
                  </ul>
               </li>

                 <li>

                 <li>
                 <li class="app-sidebar__heading">ActivityInfo</li>
                 <li>
                  <a href="/"class="app-sidebar__heading" style="color: rgb(55, 141, 228) ;"> <i class="metismenu-icon pe-7s-menu"></i> AI Results (NEW) <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i> </a>
                  <ul id="databases_list">
                   {% get_databasesv2 as databases %} {% for db in databases %}
                     <li id="{{db.ai_id}}"> <a href="{% url 'pivoting:database-dashboard' %}?id={{ db.id }}" class="">{{ db.label }}
                        <i class="metismenu-icon pe-7s-settings"></i>
                        </a> 
                     </li>
                     {% endfor %} 
                  </ul>
               </li>
               <li>
                  <a href="/"class="app-sidebar__heading" style="color: rgb(55, 141, 228) ;"> <i class="metismenu-icon pe-7s-menu"></i> HPM Reports  <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i> </a>
                  <ul id="databases_list">
                     {% get_hpm_neuroreports as neuroreports %}{% for report in neuroreports %}
                     <li id="{{report.id }}">
                        <a href="{% url 'pivoting:hpm-neuroreport' %}?id={{ report.id }}" ><i class="metismenu-icon pe-7s-display2"></i>
                            {{ report.name }} 
                        </a>
                     </li>
                     {% endfor %} 
                  </ul>
               </li>

                 <li>
                    <a href="/"> <i class="metismenu-icon pe-7s-menu"></i> AI Results <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i> </a>
                    <ul id="databases_list">
                       {% get_databases as databases %} {% for db in databases %}
                       <li id="{{db.ai_id}}"> <a href="{% url 'activityinfo:report' %}?ai_id={{ db.ai_id }}" class="">{{ db.label }}
                          <i class="metismenu-icon"></i>
                          </a> 
                       </li>
                       {% endfor %} 
                    </ul>
                 </li>
                 
                 <li class="app-sidebar__heading">Knowledge Base</li>
                 <li>
                    <a href="{% url 'pivoting:pca-dashboard' %}">
                       <i class="metismenu-icon pe-7s-portfolio" aria-hidden="true"></i> Funded Programs 
                       <div class="ml-auto badge badge-info" style="padding: 2px;font-size: 10px;">New</div>
                    </a>
                 </li>
                 <li>
                  <a href="{% url 'etools:partnership' %}">
                     <i class="metismenu-icon pe-7s-help2"></i> Partnerships
                     <div class="ml-auto badge badge-info" style="padding: 2px;font-size: 10px;">Updated</div>
                  </a>
               </li>

               <li>
                  <a href="{% url 'pivoting:donor-dashboard' %}">
                     <i class="metismenu-icon pe-7s-world" aria-hidden="true"></i> Donors  
                     <div class="ml-auto badge badge-info" style="padding: 2px;font-size: 10px;">New</div>
                  </a>
               </li>

                 <li>
                  <a href="{% url 'survey:maps' %}">
                     <i class="metismenu-icon  pe-7s-map-2"></i>UNICEF Maps 
                  </a>
               </li>
                 <li>
                  <a href="{% url 'survey:datavisualization' %}">
                     <i class="metismenu-icon  pe-7s-photo"></i>Data Visualizations  
                  </a>
               </li>
                 <li>
                    <a href="{% url 'survey:population_figures' %}">
                       <i class="metismenu-icon pe-7s-users" aria-hidden="true"></i> Population Figures 
                    </a>
                 </li>
              </ul>
           </div>
        </div>
     </div>
     <div class="app-main__outer">
        {% block content %} {% endblock content %}
        <div class="app-wrapper-footer">
           <div class="app-footer">
              <div class="app-footer__inner card py-4">
                 <div class="app-footer-left">
                    <ul class="nav">
                       <li class="nav-item"> <i class="py-2"><img src="{% static 'images/unicef-logo-horizontal.svg' %}" /></i> </li>
                       <li class="nav-item">
                          <div class="nav-link"> 2022 Copyrights © Neuro-DB </div>
                       </li>
                    </ul>
                 </div>
                 <div class="app-footer-right">
                    <!-- <a href="https://www.instagram.com/uniceflebanon/" target="_blank"> <i class="p-2 icon"><img src="{% static 'images/instagram.svg' %}" /></i> </a> -->
                    <!-- <a href="https://www.facebook.com/UNICEFLebanon/" target="_blank"> <i class="p-2 "><img src="{% static 'images/facebook.svg' %}" /></i> </a> -->
                    <!-- <a href="https://twitter.com/uniceflebanon" target="_blank"> <i class="p-2 icon"><img src="{% static 'images/twitter.svg' %}" /></i> </a> -->
                    <!-- <a href="https://www.youtube.com/user/UnicefLebanonChannel" target="_blank"> <i class="p-2 icon"><img src="{% static 'images/youtube-brands.svg' %}" /></i> </a> -->
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="floating-chat">
     <i class="fa fa-envelope" aria-hidden="true"></i>
     <div class="chat">
        <div class="header"> <span class="title">
           <b>Subscription</b>
           </span>
           <button> <i class="fa fa-times" aria-hidden="true"></i> </button>
        </div>
        <div class="control-group">
           <div class="controls">
              <input type="text" id="fullname" maxlength="150" autofocus="autofocus" required="" placeholder="Full name" class="textinput textInput"> 
           </div>
        </div>
        <div class="control-group">
           <div class="controls">
              <input type="text" id="email" maxlength="150" autofocus="autofocus" required="" placeholder="Email" class="textinput textInput"> 
           </div>
        </div>
        <br />
        <div class="footer">
           <button id="sendMessage">send</button>
        </div>
     </div>
  </div>
</div>

      </div>
      </div> 
      <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
      <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
   
      <script src="{% static 'js/main.js' %}"></script>
      
      <script src="{% static 'vendors/intro.js/js/intro.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script> {% block extra_js %}{% endblock %}
      <script>
         window.onscroll = function() {
         	myFunction()
         };
         var header = document.getElementById("fixed-top-header");
         var sticky = header.offsetTop;
         
         function myFunction() {
         	if(window.pageYOffset > sticky && document.documentElement.scrollHeight > window.innerHeight * 1.6) {
         		header.classList.add("sticky");
         		$('.app-main').css('margin-top', '60px');
         	} else {
         		header.classList.remove("sticky");
         		$('.app-main').css('margin-top', '0px');
         	}
         }
         $(document).on("click", function(event) {
         	var $trigger = $(".dropdown");
         	if($trigger !== event.target && !$trigger.has(event.target).length) {
         		$(".dropdown-menu-xl").slideUp("fast");
         	}
         });
         $(document).ready(function() {
         	$(window).scroll(function() {
         		if($(this).scrollTop() != 0) {
         			$('#toTop').fadeIn();
         		} else {
         			$('#toTop').fadeOut();
         		}
         	});
         	$('#toTop').click(function() {
         		$("html,body").animate({
         			scrollTop: 0
         		}, 600);
         		return false;
         	});
         	$('.print-page').click(function() {
         		$('.expanded-all').trigger('click');
         		$('.read-more').hide();
         		window.print();
         	});
         });
      </script>
      <script type="text/javascript">
         function startIntro() {
         	var intro = introJs();
         	intro.setOptions({
         		steps: [{
         			element: '#step1',
         			intro: $('#slide1').html()
         		}, {
         			element: '#step1a',
         			intro: $('#slide1a').html()
         		}, {
         			element: '#step2',
         			intro: $('#slide2').html()
         		}, {
         			element: '#step3',
         			intro: $('#slide3').html(),
         		}, {
         			element: '#step3a',
         			intro: $('#slide3a').html(),
         		}, {
         			element: '#step3b',
         			intro: $('#slide3b').html(),
         		}, {
         			element: '#blocks',
         			intro: $('#blocks').attr('title'),
         		}, {
         			element: '#step4',
         			intro: $('#slide3c').html(),
         		}, {
         			element: '#step4a',
         			intro: $('#slide4a').html(),
         		}]
         	});
         	intro.start();
         }
         var element = $('.floating-chat');
         var send = $('#sendMessage');
         setTimeout(function() {
         	element.addClass('enter');
         }, 1000);
         element.click(openElement);
         send.click(send_notify);
         
         function openElement() {
         	element.find('>i').hide();
         	element.addClass('expand');
         	element.find('.chat').addClass('enter');
         	element.off('click', openElement);
         	element.find('.header button').click(closeElement);
         }
         
         function closeElement() {
         	element.find('.chat').removeClass('enter');
         	element.find('>i').show();
         	element.removeClass('expand');
         	element.find('.header button').off('click', closeElement);
         	setTimeout(function() {
         		element.click(openElement);
         	}, 500);
         }
         
         function send_notify() {
         	var fullname = $('#fullname').val();
         	var email = $('#email').val();
         	if(email != "" && fullname != "") {
         		$.ajax({
         			url: '{% url "activityinfo:send_notify_me" %}',
         			dataType: "json",
         			data: {
         				'fullname': fullname,
         				'email': email
         			},
         			success: function(data) {
         				alert("You have successfully subscribed")
         			}
         		});
         	} else {
         		alert("Please fill the email and name field")
         	}
         }
      </script> {% block modal %}{% endblock %} 
   </body>
</html>