{% extends "base.html" %}
{% load static i18n %}
{% load util_tagsv2 %}
{% load static %}

{% block project_title %}Neuro-DB{% endblock %}

{% block content %}
<!-- top tiles -->
<!-- /top tiles -->

<style>
  div.panel-footer {
    background-color: #fff !important;
  }
  p {
    background-color: #f7f9fa;
    padding: 10px;
    border-radius: 10px;
  }
  .sidebar-box {
    max-height: 120px;
    position: relative;
    overflow: hidden;
  }
  .sidebar-box .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 15px 0;
    opacity: 0.9;
  }
  .btn-filter.on {
    background-color: #0089d2;
    color: white;
  }
  .btn-filter-no.on {
    background-color: #0089d2;
    color: white;
  }
  span.trip-planned {
    background-color: rgba(250,237,119,.6);
  }
  span.trip-submitted {
    background-color: rgba(206,188,6,.6);
  }
  span.trip-approved {
    background-color: rgba(141,198,63,.45);
  }
  span.trip-completed {
    background-color: rgba(141,198,63,1);
  }
  .x_title span.label {
      color: white;
  }
  table#exporttable thead tr th {
    vertical-align: middle;
    color: white;
    background-color: #00AEEE;
  }

</style>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x-panel">
      <div class="x_title">
        <h2>
          <strong>HACT</strong>
          <input type="text" class="form-control ds-input" id="search-input" placeholder="Search..."
                 autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list"
                 aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto"
                 style="margin-left: 15px; position: relative; vertical-align: top;border-radius: 4px !important; width: 300px;display: inline;" data-step="8" data-intro="Search for a Partner">
        </h2>
        <a class="" href="javascript:void(0);" onclick="javascript:introJs().setOption('showProgress', true).start();"
           data-toggle="tooltip" data-placement="bottom"
           title="Show me some tips" style="padding-left: 20px;">
          <i class="fa fa-lightbulb-o" style="font-size: 30px; color: #0089d2"></i>
        </a>
        <a href="#" id="export1"><i class="fa fa-download faa-bounce animated-hover" style="font-size: 25px;"></i></a>

        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>

    </div>
    <div class="row">

      <div class="x_content" style="">
          <table id="exporttable" content="hact.csv"
                 data-tableName="HACT - 2019"
                 class="table table-striped table-bordered">
            <thead>
              <tr>
                <th rowspan="2">IP Name</th>
                <th rowspan="2">IP Type</th>
                <th rowspan="2">Shared IP</th>
                <th rowspan="2">Cash Transfers (1 JAN - 31 DEC)</th>
                <th rowspan="2">Assessment Type</th>
                <th rowspan="2">Risk Rating</th>
                <!--<th rowspan="2">Flags</th>-->
                <th colspan="3" style="text-align: center;">PROGRAMMATIC VISITS</th>
                <th colspan="2" style="text-align: center;">SPOT CHECKS</th>
                <th colspan="3" style="text-align: center;">AUDITS</th>
              </tr>
              <tr>
                <th>Planned</th>
                <th>MR</th>
                <th>Completed</th>

                <th>Required</th>
                <th>Completed</th>

                <th>Required</th>
                <th>Completed</th>
                <th>Outstanding Findings</th>
              </tr>
            </thead>
            <tbody>
              {% for key, partner in partners_info.items %}
                  <tr>
                    <th>{{ partner.name }}</th>
                    <th>{{ partner.partner_type }}</th>
                    <td>{{ partner.shared_partner }}</td>
                    <td>{{ partner.total_ct_ytd }}</td>
                    <td>{{ partner.type_of_assessment }}</td>
                    <th>{{ partner.rating }}</th>
                    <!--<td></td>-->
                    <td>{{ partner.programmatic_visits_planned|length }}</td>
                    <!--<td>{{ partner.hact_min_requirements.programme_visits }}</td>-->
                    <td>{{ partner.hact_min_requirements.programme_visits }}</td>
                    <td>{{ partner.programmatic_visits_completed|length }}</td>

                    <td>{{ partner.hact_min_requirements.spot_checks }}</td>
                    <td>{{ partner.spot_checks_completed|length }}</td>

                    <td>{{ partner.hact_min_requirements.audits }}</td>
                    <td>{{ partner.audits_completed|length }}</td>
                    <td>0$</td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      {% csrf_token %}
      <div class="clearfix"></div>
    </div>
  </div>

</div>
<br />
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'vendors/jquery-quicksearch/jquery.quicksearch.js' %}"></script>

<script>
    var user_token = '{{ user_token }}';
    var href_full_path = '{{ request.build_absolute_uri }}';
    var csrftoken = $('input[name=csrfmiddlewaretoken]').val();

    $(document).ready(function(){
        $('ul.child_menu').hide();

        $('input#search-input').quicksearch('table#exporttable tbody tr', {
          'delay': 300,
          'selector': 'th',
          'stripeRows': ['odd', 'even'],
          'loader': 'span.loading',
          'bind': 'keyup click input',
          <!--'show': function () {-->
            <!--this.style.color = '';-->
          <!--},-->
          <!--'hide': function () {-->
            <!--this.style.color = '#ccc';-->
          <!--},-->
          'prepareQuery': function (val) {
            return new RegExp(val, "i");
          },
          'testQuery': function (query, txt, _row) {
            return query.test(txt);
          }
        });

    });

function download_csv(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV FILE
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // We have to create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Make sure that the link is not displayed
    downloadLink.style.display = "none";

    // Add the link to your DOM
    document.body.appendChild(downloadLink);

    // Lanzamos
    downloadLink.click();
}

function export_table_to_csv(html, filename) {
	var csv = [];
	var rows_header = document.querySelectorAll("table#exporttable thead tr");
	var rows = document.querySelectorAll("table#exporttable tbody tr");

    for (var i = 0; i < rows_header.length; i++) {
		var row = [], cols = rows_header[i].querySelectorAll("th");

        for (var j = 0; j < cols.length; j++)
            row.push($(cols[j]).innerText);

    csv.push(row.join(","));
	}

  for (var i = 0; i < rows.length; i++) {
		var row = [], cols = rows[i].querySelectorAll("td, th");

        for (var j = 0; j < cols.length; j++) {
            if($(cols[j]).attr('colspan') == '2') {
              row.push('');
            }
            row.push('"'+cols[j].innerText+'"');
        }

		csv.push(row.join(","));
	}

    // Download CSV
    download_csv(csv.join("\n"), filename);
}

document.querySelector("#export1").addEventListener("click", function () {
    var html = document.querySelector("table").outerHTML;
    var file_name = $("#exporttable").attr("content");
	  export_table_to_csv(html, file_name);
});

</script>

{% endblock %}
