{% load static i18n %}
{% load util_tagsv2 %}

          <div class="main-card mb-3 ">
            <div class="card-header">
               <!-- Funded programmes 2019/2020 -->
               Funded programmes - {{ donor }}

              <div class="btn-actions-pane-right actions-icon-btn">
                <span class="badge badge-pill badge-danger text-right">{{ interventions|length }}</span>
              </div>

            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush" style="max-height: 300px; overflow: scroll;" id="interventions_list_ul">


{% for item in interventions %}

              <li class="list-group-item level3-filter break-avoid" data-data="">
                <div class="widget-content p-0">
                  <div class="widget-content-outer">
                    <div class="widget-content-wrapper">
                      <div class="widget-content-left mr-3 col-md-2">

                        {% if item.partner.rating == 'low' or item.partner.rating == 'Low' %}
                        <span class="star filled bad ng-star-inserted text-success">★</span>
                        <span class="text-success">Low</span>
                          {% elif item.partner.rating == 'medium' or item.partner.rating == 'Medium' %}
                        <span class="star filled bad ng-star-inserted text-info">★</span>
                        <span class="text-info">Medium</span>
                          {% elif item.partner.rating == 'high' or item.partner.rating == 'High' %}
                        <span class="star filled bad ng-star-inserted text-warning">★</span>
                        <span class="text-warning">High</span>
                          {% elif item.partner.rating == 'significant' or item.partner.rating == 'Significant' %}
                        <span class="star filled bad ng-star-inserted text-danger">★</span>
                        <span class="text-danger">Significant</span>
                          {% else %}
                        <span class="star filled bad ng-star-inserted">★</span>
                          {% endif %}
                      </div>
                      <div class="widget-content-left">
                        <div class="widget-heading">
                            {{ item.title }}
                        </div>
                        <div class="widget-subheading">
                          {{ item.document_type }} - {{ item.status }} - {{ item.number }}
                        </div>
                      </div>
                      <div class="widget-content-right">
                          <div class="widget-numbers text-info">
                            {% get_list_value item.donors_set 'donor_code' selected_donor 'value' as budget %}
                            ${{ budget|number_format }}
                          </div>
                      </div>
                    </div>

                    <div class="widget-progress-wrapper progress-sub-label">
                        {% for office in item.offices_set %}
                        <div class="m-0 p-1 badge badge-pill badge-grey">{{ office }}</div>
                        
                        {% endfor %}
                        {% for section in item.section_names %}
                        <div class="m-0 p-1 badge badge-pill badge-light">{{ section }}</div>
                        {% endfor %}
                    </div>
                  </div>
                </div>
              </li>
{% endfor %}


</ul>
            </div>
          </div>

