{% load util_tagsv2 %}
{% load static %}

<style>
  #mapView {
    height: 500px;
    width: 80%;
    border: 1px solid;
  }
</style>

  <div class="row" id="">
    <div id="mapView"></div>
    <div class="clearfix"></div>
  </div>

{% block extra_js %}
<link rel="stylesheet" href="https://js.arcgis.com//4.21/esri/css/main.css">
<script src="https://js.arcgis.com/4.11/"></script>

<script>
    var points = '{{ locations|safe }}';
    points = JSON.parse(points);

    var symbol = {
      style: "square",
      color: "blue",
      size: "8px",  // pixels
      outline: {  // autocasts as new SimpleLineSymbol()
        color: [ 255, 255, 0 ],
        width: 3  // points
      }
    };

    var symbol_icon = {
      url: "{% static 'images/location-map-pin.png' %}",
      height:34,
      width:24,
    };

    var markerSymbol = {
      type: "picture-marker", // autocasts as new SimpleMarkerSymbol()
      url: "{% static 'images/location-map-pin.png' %}",
      height:34,
      width:24,
    };

    $(document).ready(function(){

        $('ul.child_menu').hide();

        require([
          "esri/Map",
          "esri/views/MapView",
          "esri/symbols/SimpleMarkerSymbol",
          "esri/symbols/PictureMarkerSymbol",
          "esri/geometry/Point",
          "esri/Graphic",
        ], function(Map, MapView, SimpleMarkerSymbol, PictureMarkerSymbol, Point, Graphic) {

          var map = new Map({
              basemap: "topo-vector"
          });

          var view = new MapView({
            container: "mapView",
            map: map,
            center: [35.82685, 34.3461],
            zoom: 8
          });

          $(points).each(function(i, item){

              var url = '<a href="'+item.url+'" target="_blank"><i class="fa fa-external-link" style="font-size: 16px; color: #0089d2;">'+item.number+'</i></a>';

              var lineAtt = {
                Number: url,
                Title: item.title,
                Site: item.name,
                Type: item.document_type,
                Partner: item.partner_name,
                Status: item.status,
                Start: item.start,
                End: item.end,
                Budget: item.total_budget,
                Sections: item.section_names,
                Offices: item.offices_names,
              };

              var pointGraphic = new Graphic({
                geometry: {
                  type: "point",
                  longitude: item.longitude,
                  latitude: item.latitude
                },
                symbol: markerSymbol,
                attributes: lineAtt,
                popupTemplate: {
                  title: "{Type} {Number}",
                  content: [
                    {
                      type: "fields",
                      fieldInfos: [
                        {
                          fieldName: "Site"
                        },
                        {
                          fieldName: "Title"
                        },
                        {
                          fieldName: "Partner"
                        },
                        {
                          fieldName: "Status"
                        },
                        {
                          fieldName: "Start"
                        },
                        {
                          fieldName: "End"
                        },
                        {
                          fieldName: "Budget"
                        },
                        {
                          fieldName: "Sections"
                        },
                        {
                          fieldName: "Offices"
                        },
                      ]
                    }
                  ]
                }
              });

              view.graphics.add(pointGraphic);

          });

        });
    });

</script>
{% endblock %}
