{% extends "base2.html" %}
{% load static i18n %}
{% load util_tagsv2 %}
{% load static %}

{% block project_title %}{% endblock %}

{% block filter %}
{% endblock filter %}

{% block content %}

<div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
         <div class="page-title-heading">
            <div>
                Partner Profile
            </div>
         </div>
        
         <div class="page-title-actions">
                <form id="filterForm" action="{% url 'activityinfo:report' %}" method="get"  data-partner-url="{% url 'activityinfo:ajax_load_partners' %}"
                        data-govs-url="{% url 'activityinfo:ajax_load_govs' %}" data-month-url="{% url 'activityinfo:ajax_load_months' %}">

                  <div class="page-title-wrapper">
                    <input type="hidden" id="ai_id" name="ai_id" value="{{ database.ai_id }}"/>
                    <div class="page-title-heading" style="width:100%" data-step="4" data-intro="Filter by multiple Partners, Locations, and/or Months">

                      <div style="width:100%;">
                        <div class="row">
                          <div class="col-lg-12 col-sm-12">
                            <select class="btn btn-outline-primary" multiple="multiple" id="filter_sections" name="sections">
                                {% for section in sections %}
                                <option class="dropdown-item" value="{{ section.section_id }}"
                                        {% if section.section_id in selected_sections %}selected{% endif %}>{{ section }}
                                </option>
                                {% endfor %}
                          </select>

                            <button type="submit" class="btn btn-md shadow btn-light mr-left-5" title="Search" onclick="$('#loading').show();">
                              <i style="font-weight:bolder" class="pe-7s-search"></i>
                            </button>
                            <a href="{% url 'activityinfo:report' %}?ai_id={{ database.ai_id }}"title="Cancel"
                             class="btn btn-md btn-light d-inline-block"><i class="fa fa-fw" aria-hidden="true"></i></a>
                             <div  id="loading" class="d-inline-block"  style="display:none !important" >
                              <img src="{% static 'images/loader.gif' %}" width="40px" height="40px" alt="" />
                            </div>
                        </div>
                      </div>
                        {% comment %} 
                        <div class="page-title-subheading">
                            Filter by multiple Partners, Locations, and/or Months
                        </div>
                        {% endcomment %}
                      </div>
                    </div>
                  </div>
                </form>
         </div>
      </div>

   </div>
</div>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'vendors/jquery-quicksearch/jquery.quicksearch.js' %}"></script>
<script src="{% static 'js/bootstrap-multiselect.min.js' %}"></script>
<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
<script  src="{% static 'js/table-fixed.js' %}"></script>

<script>


  $(document).ready(function () {

    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
    };

    var id = getUrlParameter('ai_id');
    var selected_li=$('li#'+id).find('a');
    var parent = selected_li.parent();
    parent.addClass("mm-active");
    selected_li.addClass("mm-active");


    $('#filter_sections').multiselect({

        includeSelectAllOption : true,
            nonSelectedText: 'Sections',
            nSelectedText:'selected sections',
            numberDisplayed:1,
            maxHeight: 350,
        buttonClass:'btn btn-outline',
    });
 

    function search() {
        $('input#search-input').quicksearch('table#exportheader tbody tr', {
            'delay': 300,
            'selector': 'td',
            'stripeRows': ['odd', 'even'],
            'loader': 'span.loading',
            'bind': 'keyup click input',
            'prepareQuery': function (val) {
            return new RegExp(val, "i");
        },
            'testQuery': function (query, txt, _row) {
            return query.test(txt);
            }
        });
    }

    $('#close-search').click(function(e) {
    $("#searchdiv").triggerHandler("focus");
        $('input#search-input').val('').focus();
        search();
        $('.level1').addClass('collapsed');
        $('.level2').addClass('collapsed');
        $('.level3').addClass('collapsed');

        $('.level2').hide();
        $('.level3').hide();
    });
  });

</script>
 
{% endblock %}